<section fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex.gt-sm="450px">
    <mat-card-title>Configure</mat-card-title>
    <mat-card-subtitle>Set up your question</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="questionForm" fxLayout="column">
        <mat-form-field>
          <mat-label>Statement</mat-label>
          <input
            type="text" matInput autocomplete="off" required
            formControlName="statement"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Question type</mat-label>
          <mat-select
            formControlName="questionType"
          >
            <mat-option *ngFor="let questionType of questionTypes" [value]="questionType.value">
              {{questionType.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxLayout fxLayoutAlign="space-between center">
          <span>Answers</span>
          <button type="button" mat-button (click)="onAddAnswer()">
            Add answer
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div formArrayName="answers" fxLayout="column">
          <mat-form-field *ngFor="let answer of answers.controls; let i=index">
            <input
              matInput
              type="text"
              [formControlName]="i"
            >
            <button
              mat-icon-button matSuffix [attr.aria-label]="'Remove answer'"
              matTooltip="Remove answer"
              matTooltipPosition="below"
              (click)="onRemoveAnswer(i)"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onSubmitQuestion()" [disabled]="!questionForm.valid">SUBMIT</button>
    </mat-card-actions>
  </mat-card>

  <div fxFlex.xs="100%" fxFlex.gt-sm="450px">
    <mat-card>
      <mat-card-title>Preview</mat-card-title>
      <mat-card-subtitle>{{this.questionForm.get('statement').value}}</mat-card-subtitle>
      <mat-card-content>
        <mat-radio-group aria-label="Select an option" fxLayout="column" fxLayoutGap="16px">
          <mat-radio-button *ngFor="let answer of answers.controls; let i=index" [value]="i">
            {{answer.value}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ANSWER</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
