<mat-toolbar>
  <div>
    Create test
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <button
      mat-icon-button color="primary"
      mat-raised-button
      matTooltip="Save test"
      matTooltipPosition="below"
    >
      <mat-icon>save</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="New question">
    <app-new-question (submitQuestion)="onSubmitQuestion($event)"></app-new-question>
  </mat-tab>

  <mat-tab label="Test summary">
    <app-test-summary [test]="test"></app-test-summary>
  </mat-tab>
</mat-tab-group>
